{% extends "base/base.html" %}
{% block title %}О системе - Logistic System{% endblock %}

{% block content %}

<section class="fact-section">
        <div class="container">
            <div class="fact-card">
                <div class="fact-icon">
                    <i class="fas fa-lightbulb"></i>
                </div>
                <div class="fact-content">
                    <h2 class="fact-title">Интересные факты</h2>
                    <p class="fact-text">
                        IHP Appliances входит в состав компании
                        <span class="fact-highlight">Arçelik</span>,
                        которая является мировым производителем бытовой техники.
                        IHP Appliances это крупный завод в Российской Федерации,
                        с полным циклом производства <span class="fact-highlight">холодильников,
                        морозильников и стиральных машин</span>.
                        В России компания выпускает холодильники и стиральные машины
                        под брендами
                        <span class="fact-highlight">Indesit, Hotpoint, Stinol</span>.
                        Завод холодильников работает
                        <span class="fact-highlight"> с 1993 года</span>,
                        а завод Стиральных машин
                        <span class="fact-highlight">с 2004</span>.
                    </p>
                    <div class="fact-stats">
                        <div class="stat-item">
                            <span class="stat-number">30 ЛЕТ</span>
                            <span class="stat-label">Производство холодильников</span>
                        </div>
                        <div class="stat-item">
                            <span class="stat-number">18 ЛЕТ</span>
                            <span class="stat-label">Производство стиральных машин</span>
                        </div>
                        <div class="stat-item">
                            <span class="stat-number">БОЛЕЕ 2 ТЫС.</span>
                            <span class="stat-label">Сотрудников</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
